body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:deepskyblue;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

a:hover,
a:active {
  color: #00B7FF;
  text-decoration: underline;
}

a.danger {
  color: red;
}

.spacing {
  margin-bottom: 20px;
}
@font-face{
  font-family:OpenSans;
  src:url(../fonts/OpenSans-Regular.ttf);
}

